/* Crated by @mksmvnv */

@import "./reset.css";
@import url("https://clck.ru/39cgLX");

/*
font-family: "Fira Code", monospace;
*/

:root {
    --bg: #171919;
    --text: #ffffff;
}

html, body {
    font-family: "Fira Code", monospace;
    font-weight: 400;

    background-color: var(--bg);
    color: var(--text);
}

/* Nav */

.nav {
    margin: auto;
    padding: 20px;
}

.container {
    display: flex;
    align-items: center;
}

