/* Created by @mksmvnv */

@import url("https://clck.ru/39fL4k");

/*
font-family: "Montserrat Alternates", sans-serif;
font-family: "Alegreya Sans SC", sans-serif;
*/

:root {
    --bg: #171919;
    --bg-light: #1f2020;
    --text: #ffffff;
    --text-dark: #606060;
    --border: #2a2c2c;
    --additional: #de2812;
}

html, body {
    width: 100%;
    min-width: 100vh;

    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 500;
    font-size: 20px;

    background-color: var(--bg);
    color: var(--text);
}

/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

/* NAVBAR Main */

.navbar {
    width: 100%;
}

.navbar .container {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 60px;
    border-bottom: 1px solid var(--border);
}

/* NAVBAR Logo */

.navbar .container .navbar-logo .navbar-logo__link {
    display: flex;
    align-items: center;

    width: 300px;
    height: 55px;
}

.navbar .container .navbar-logo .navbar-logo__img {
    width: 55px;
    height: 55px;
}

.navbar .container .navbar-logo .navbar-logo__text {
    margin-left: 15px;

    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: var(--text);
}

/* NAVBAR Search */

.navbar .container .navbar-search .navbar-search__input {
    margin-left: 52px;

    width: 290px;
    height: 60px;

    border-radius: 15px;
    padding: 18px 150px 18px 25px;

    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 500;
    font-size: 20px;

    background-color: var(--bg-light);
    color: var(--text-dark);
}

.navbar .container .navbar-search .navbar-search__icon {
    position: absolute;
    top: 38px;
    left: 655px;
}

/* NAVBAR Editor */

.navbar .container .navbar-editor {
    margin-left: 720px;
}

.navbar .container .navbar-editor .navbar-editor__btn {
    width: 220px;
    height: 60px;

    border-radius: 15px;
    cursor: pointer;

    background-color: var(--additional); 
}

.navbar .container .navbar-editor .navbar-editor__btn p {
    margin: 16px 26px 18px 26px;

    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 500;
    font-size: 25px;

    color: var(--text);
}

/* NAVBAR Notifications */

.navbar .container .navbar-notifications {
    margin-left: 42px;
}

.navbar .container .navbar-notifications__link {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

/* NAVBAR Profile */

.navbar .container .navbar-profile {
    margin-left: 32px;
}

.navbar .container .navbar-profile .navbar-profile__link {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.navbar .container .navbar-profile .navbar-profile__icon {
    margin-right: 15px;
}

.navbar .container .navbar-profile .navbar-profile__text {
    color: var(--text-dark);
}





