<!-- Created by @mksmvnv -->

{% extends 'base.html' %}

{% block title %}
Chinamatic — все о Китая и даже больше
{% endblock title %}

{% block content %}
<aside class="aside-left">
    <div class="vertical-navigation">
        <ul class="vertical-navigation__list">
            <li class="vertical-navigation__list-item"><a href="#">Горячее</a></li>
            <li class="vertical-navigation__list-item"><a href="#">Свежее</a></li>
            <li class="vertical-navigation__list-item"><a href="#">Моя лента</a></li>
            <li class="vertical-navigation__list-item"><a href="#">История</a></li>
            <li class="vertical-navigation__list-item"><a href="#">Материалы</a></li>
            <li class="vertical-navigation__list-item"><a href="#">Тесты</a></li>
        </ul>
    </div>
</aside>
{% endblock content %}
